NUXT_PUBLIC_API_BASE=http://localhost:3001/api
NUXT_GOOGLE_MAPS_API_KEY=google-maps-api-key
NUXT_PUBLIC_ZIPNOVA_API_TOKEN=public-zipnova-api-token
NUXT_PUBLIC_ZIPNOVA_API_SECRET=public-zipnova-api-secret
NUXT_ZIPNOVA_ACCOUNT_ID=123456
NUXT_ZIPNOVA_ORIGIN_ID=123456
NUXT_MP_SPLIT_LINK=https://auth.mercadopago.com.ar/authorization?client_id=<API_ID>&response_type=code&platform_id=mp&redirect_uri=<REDIRECT_URL>
NODE_ENV=development